.nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .brand-logo {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 6rem;
    height: 6rem;
    padding-right: 1rem;
    position: fixed;
  }